body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(174, 103, 103);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    transition: background 0.3s;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, 0.998);
}

/* Hero Section */
header {
    height: 100vh;
    background: rgb(255, 255, 255) ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hwb(0 0% 100%);
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text p {
    font-size: 20px;
}

.hero-text button {
    background: rgb(190, 182, 182);
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.hero-text button:hover {
    background: rgb(11, 214, 255);
}

/* Sections */
section {
    padding: 50px 20px;
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-box {
    background: rgb(35, 115, 8);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}

.service-box:hover {
    transform: scale(1.1);
}
